<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
</head>
<body>
    <div id="post-container">
        <div id="postview">
            <h2 id="image-post-title">{{currentPost.title}}</h2>
            <p id="image-post-author">{{currentPost.username}}</p>
            <p id="image-post-date">{{currentPost.created}}</p>
            <br />
            <img id="image-post-image" src="/{{currentPost.photopath}}" 
            alt="image not found">
            <p id="image-post-desc">{{currentPost.description}}</p>
        </div>

        <div id="comment-section">
            <div id="messages">
                {{#each currentPost.comments}}
                    {{> comment this}}
                {{/each}}
            </div>
            <div id="comment-box">
                <textarea id="comment-box-text" class="form-control" aria-label="With textarea" placeholder="Enter Comment Here"></textarea>
                <span id="comment-box-button" class="fa fa-comment" aria-hidden="true" style="text-align: center;">Comment</span>
            </div>
        </div>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });

    function addMessage(data){
        let template = document.createElement('template');
        template.innerHTML = 
        `<div id="message-${data.commentId}">
            <strong class="author-text">@${data.username}</strong>
            <span class="date-posted">${new Date().toLocaleString()}</span>
            <div class="comment-text">${data.comment}</div>
        </div>`
        ;
        document.getElementById('messages').firstChild.before(template.content.firstChild);
    }

    document.getElementById('comment-box-button').onclick = (event) => {
        let commentText = document.getElementById('comment-box-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if(!commentText){
            return;
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId: postId
            })
        }
        fetch('/comments/create', fetchOptions)
        .then((response) => response.json())
        .then((data) => {
            if(data.code == 1){
                addMessage(data);
            }else{
                addFlashFromFrontEnd(data.message, data.status);
            }
        })
        .catch(err => console.log(err));
    }
</script>
</html>